#General build artifacts
*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.bin
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep

#MDK-ARM and other ARM 
*.__i
*._2i
*.htm
*.fed
#*.uvgui.*
#*.uvopt
*.iex
*.dfu

#Eclipse
.metadata

#Mac
.DS_Store

#downloaded artifacts

