#General build artifacts
*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.iex
*.bin
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep

#MDK-ARM
*.__i
*._2i
*.htm
#*.uvgui.*
#*.uvopt

#Eclipse
.metadata

#Mac
.DS_Store

#downloaded artifacts

